# ======================
# Node / NPM
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Environment variables
# ======================
.env

# ======================
# Google credentials (NO subir jamás)
# ======================
config/credentials/
*.json

# ======================
# Bases de datos locales
# ======================
*.sqlite
*.sqlite3
database.sqlite
db.sqlite

# ======================
# Backups
# ======================
backups/

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS / Editor basura
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/